{% extends 'allauth_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  Change Password
{% endblock %}
{% block form %}
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="submit-btn-login" type="submit"
            name="action">Change Password</button>
    <div class="forgot">
      <a class="button secondaryAction"
         href="{% url 'account_reset_password' %}"
         style="color: rgb(108, 156, 103);">Forgot Password?</a>
    </div>
  </form>
{% endblock %}