{% extends "allauth_base.html"
{% load static %}
{% load i18n %}

{% block title %}
  {% if token_fail %}
    Bad Token
  {% else %}
    Change Password
  {% endif %}
{% endblock %}

{% block form %}
  {% if token_fail %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="/accounts/password/reset">new password reset</a></p>
  {% else %}
    {% if form %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="Change password"/>
      </form>
    {% else %}
      <p>Your password is now changed.</p>
    {% endif %}
  {% endif %}
{% endblock %}
