
{% extends 'base.html' %}

{% block heading %}About the Team{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}


    <div class="container" style="min-height: 575px;">

      

      

      <div class="row" style="text-align: center; border-radius: 20px; background-color: rgba(139, 148, 139,0.2);">

        <h5>&nbsp</h5>
        <h3>Back End Developers</h3>

        <div class="col-md-4" style="margin: 0px; ">
          <div class="container" style="padding: 15px; text-align: center;">
          <h4>Manish Yadav</h4>
          <img src="https://res.cloudinary.com/dq4c2vwdb/image/upload/v1634679944/team/Manish_ewwgpr.png" alt="Avatar" style=" width: 100%;  border-style: groove; border-radius: 20px;">
          <h4><b>Team Leader</b></h4>

          <h5>"When life gives you lemons, don't make lemonade! Make life take the lemons back! Get mad! I don't want your damn lemons! What am I supposed to do with these? Demand to see life's manager!"</h5>


          </div>
        </div>
        <div class="col-md-4" style="margin: 0px; ">
          <div class="container" style="padding: 15px; text-align: center;">
          <h4>Reece Jocumsen</h4>
          <img src="https://res.cloudinary.com/dq4c2vwdb/image/upload/v1634679945/team/reece_xtddvs.png" alt="Avatar" style=" width: 100%;  border-style: groove; border-radius: 20px;">
          <h4><b>Back-end Engineer</b></h4>


          <h5>"Woah, that tall child looks terrible!" - John Mulaney</h5>

          </div>
        </div>
        <div class="col-md-4" style="margin: 0px; ">
          <div class="container" style="padding: 15px; text-align: center;">
          <h4>Alex Patapan</h4>
          <img src="https://res.cloudinary.com/dq4c2vwdb/image/upload/v1634679945/team/Alex_o534z1.png" alt="Avatar" style=" width: 100%;  border-style: groove; border-radius: 20px;">
          <h4><b>Back-end Engineer</b></h4>


          <h5>"Everything’s Coming Up Milhouse!" -Milhouse Van Houten</h5>

          </div>
        </div>
      </div>

      <br><br>

      <div class="row" style="text-align: center; border-radius: 20px; background-color: rgba(139, 148, 139,0.2);">
        
        <h5>&nbsp</h5>
        <h3>Front End Developers</h3>

        <div class="col-md-4" style="margin: 0px; ">
          <div class="container" style="padding: 15px; text-align: center;">
          <h4>Calvin Lee</h4>
          <img src="https://res.cloudinary.com/dq4c2vwdb/image/upload/v1634679939/team/Calvin_zic7eh.png" alt="Avatar" style=" width: 100%;  border-style: groove; border-radius: 20px;">
          <h4><b>Front-end Engineer</b></h4>

          <h5>"I only work in dark mode, because light attracts bugs"</h5>


          </div>
        </div>
        <div class="col-md-4" style="margin: 0px; ">
          <div class="container" style="padding: 15px; text-align: center;">
          <h4>Kenia Visakha</h4>
          <img src="https://res.cloudinary.com/dq4c2vwdb/image/upload/v1634679946/team/kenia_e1cpdp.png" alt="Avatar" style=" width: 100%;  border-style: groove; border-radius: 20px;">
          <h4><b>Front-end Engineer</b></h4>

          <h5>"With great power comes a great need to take a nap"  -Nico di Angelo</h5>


          </div>
        </div>
        <div class="col-md-4" style="margin: 0px; ">
          <div class="container" style="padding: 15px; text-align: center;">
          <h4>Ruoxia Wang</h4>
          <img src="https://res.cloudinary.com/dq4c2vwdb/image/upload/v1634679941/team/nara_i2gokq.png" alt="Avatar" style=" width: 100%;  border-style: groove; border-radius: 20px;">
          <h4><b>Front-end Engineer</b></h4>

          <h5>Eat more to have the strength to lose weight</h5>

          </div>
        </div>
      </div>

     
     
      

    </div>
    {% endblock %}